/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Roboto:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(207, 65%, 65%);
  --title-color: hsl(207, 4%, 16%);
  --text-color: hsl(207, 4%, 28%);
  --text-color-light: hsl(207, 4%, 56%);
  --body-color: hsl(207, 4%, 99%);
  --container-color: hsl(207, 4%, 95%);

  /* Change the first number */
  /* Blue: 207 - Purple: 250 - Pink: 356 - Teal: 174 */
  --gradient-color: linear-gradient(180deg,
                      hsla(207, 48%, 72%, 0),
                      hsla(207, 65%, 65%, 1));

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Roboto', sans-serif;
  --title-font: 'Lora', serif;
  --biggest-font-size: 1.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --tiny-font-size: .625rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
    --tiny-font-size: .688rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: background .4s; /* for dark mode animation */
}

h1, h2, h3 {
  color: var(--title-color);
  font-family: var(--title-font);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== THEME ===============*/
.nav__buttons {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}

.change-theme {
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
  transition: color .3s;
}

.change-theme:hover {
  color: var(--first-color);
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
  --title-color: hsl(207, 4%, 95%);
  --text-color: hsl(207, 4%, 65%);
  --body-color: hsl(207, 4%, 10%);
  --container-color: hsl(207, 4%, 12%);
}

/*========== 
    Color changes in some parts of 
    the website, in light theme
==========*/
.dark-theme .nav__menu,
.dark-theme .nav__buttons,
.dark-theme .scrollup {
    background-color: hsla(207, 4%, 12%, .8);
    backdrop-filter: blur(24px);
}

.dark-theme .section__border {
    border-bottom: 1px solid hsl(207, 4%, 32%);
}

.dark-theme ::-webkit-scrollbar {
    background-color: hsl(207, 4%, 15%);
}

.dark-theme ::-webkit-scrollbar-thumb {
    background-color: hsl(207, 4%, 25%);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 2rem;
}

.section__border {
  border-bottom: 1px solid var(--title-color);
  padding-bottom: 3.5rem;
}

.section__title, 
.section__subtitle {
  text-align: center;
}

.section__title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: .25rem;
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-bottom: 3rem;
}

.main {
  overflow: hidden; /* For animation */
}

.button {
    display: inline-block;
    background-color: var(--title-color);
    color: var(--body-color);
    padding: 1.25rem 2rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    transition: box-shadow .3s;
}

.button:hover {
    box-shadow: 0 8px 24px hsla(207, 4%, 16%, .15);
}

/*=============== HEADER & NAV ===============*/
.header {
    width: 100%;
    background-color: var(--body-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    color: var(--title-color);
    font-family: var(--title-font);
    font-weight: var(--font-semi-bold);
    transition: color .3s;
}

.nav__logo:hover {
    color: var(--first-color);
}

@media screen and (max-width: 1023px) {
    .nav__menu {
        position: fixed;
        bottom: 2rem;
        background-color: hsla(207, 4%, 95%, .8);
        backdrop-filter: blur(24px);
        width: 90%;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding: 1.5rem 3rem;
        border-radius: 2rem;
        transition: bottom .3s;
    }
}

.nav__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav__link {
    color: var(--text-color);
    font-size: var(--smaller-font-size);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .25rem;
    transition: color .3s;
}

.nav__link i {
    font-size: 1.25rem;
}

.nav__link:hover {
    color: var(--title-color);
}

.nav__close {
    display: none;
}

.nav__toggle {
    display: none;
}

/* Responsive Menu */
@media screen and (min-width: 1024px) {
    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }

    .nav__menu {
        width: initial;
    }

    .nav__list {
        display: flex;
        column-gap: 3rem;
    }

    .nav__link {
        font-size: var(--normal-font-size);
        flex-direction: row;
        border-radius: 0;
        padding: 0;
    }

    .nav__link i {
        display: none;
    }
}

/* Active link */
.active-link {
    color: var(--title-color);
}

/* Change background header */
.scroll-header {
    box-shadow: 0 1px 4px hsla(207, 4%, 16%, .1);
}

/*=============== HOME ===============*/
.home__container {
    row-gap: 4rem;
    padding-top: 2rem;
}

.home__content {
    row-gap: 2.5rem;
    position: relative;
}

.home__title {
    font-size: var(--biggest-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 1.5rem;
}

.home__description {
    margin-bottom: 2rem;
}

.home__social {
    display: flex;
    column-gap: 1.25rem;
    margin-bottom: 3rem;
}

.home__social-link {
    font-size: 1.5rem;
    color: var(--title-color);
    transition: color .3s;
}

.home__social-link:hover {
    color: var(--first-color);
}

.home__images {
    position: relative;
    justify-self: center;
}

.home__blob {
    width: 250px;
    height: 250px;
    background-color: var(--body-color);
    border: 2px solid var(--title-color);
    justify-self: center;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.home__img {
    width: 220px;
}

.home__shape-waves,
.home__shape-circle {
    position: absolute;
    opacity: .1;
}

.home__shape-waves {
    width: 50px;
    left: -1.5rem;
    top: 5rem;
}

.home__shape-circle {
    width: 150px;
    bottom: -2rem;
    right: -3rem;
    transform: rotate(15deg);
    z-index: -1;
}

.home__info {
    row-gap: 2rem;
}

.home__info-title {
    font-family: var(--body-font);
    font-size: var(--tiny-font-size);
    color: var(--text-color-light);
    margin-bottom: .5rem;
}

.home__info-description {
    font-family: var(--title-font);
    color: var(--title-color);
    font-weight: var(--font-medium);
}

/*=============== SKILLS ===============*/
.skills__container {
    row-gap: 3.5rem;
}

.skills__title {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 2.5rem;
}

.skills__title i {
    font-size: 1rem;
    font-weight: initial;
}

.skills__box {
    display: flex;
    column-gap: 3rem;
}

.skills__group {
    display: grid;
    align-content: flex-start;
    row-gap: 1.25rem;
}

.skills__data {
    display: flex;
    column-gap: .5rem;
}

.skills__data img {
    width: 1.5rem;
    height: 1.5rem;
}

.skills__name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    line-height: 18px;
}

.skills__subtitle {
    font-size: var(--tiny-font-size);
}

/*=============== QUALIFICATION ===============*/
.qualification {
    position: relative;
}

.qualification__container {
    row-gap: 3.5rem;
}

.qualification__title {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 2rem;
}

.qualification__title i {
    font-size: 1.25rem;
    font-weight: initial;
}

.qualification__grid {
    vertical-align: top;
    grid-template-columns: repeat(2, 1fr);
}

.qualification__card {
    display: grid;
    row-gap: .25rem;
}

.qualification__name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--title-color);
}

.qualification__country, 
.qualification__year {
    font-size: var(--small-font-size);
}

/*=============== SERVICES ===============*/
.services__container {
    row-gap: 2.5rem;
    grid-template-columns: repeat(2, 1fr);
}

.services__card {
    background-color: var(--container-color);
    padding: 2.5rem 1.5rem;
    border-radius: 1rem;
    transition: background .4s;
}

.services__icon {
    display: block;
    font-size: 2rem;
    color: var(--title-color);
    margin-bottom: 1.5rem;
}

.services__title {
    font-size: var(--h3-font-size);
    margin-bottom: 1rem;
}

.services__description {
    font-size: var(--small-font-size);
}

.services__card:hover {
    background-color: var(--first-color);
}

/*=============== PROJECTS ===============*/
.projects__container {
    overflow: initial;
}

.projects__content {
    display: grid;
    justify-content: center;
}

.projects__img {
    width: 250px;
    border-radius: .75rem;
    margin-bottom: 1.25rem;
}

.projects__subtitle {
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.projects__title {
    font-size: var(--h2-font-size);
    margin-bottom: 1.25rem;
}

.projects__button {
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    color: var(--title-color);
    font-size: var(--small-font-size);
}

.projects__button i {
    font-size: 1rem;
    transition: transform .3s;
}

.projects__button:hover i {
    transform: translateX(.25rem);
}

.projects__container .swiper-button-prev::after,
.projects__container .swiper-button-next::after {
    content: '';
}

.projects__container .swiper-button-prev,
.projects__container .swiper-button-next {
    width: initial;
    height: initial;
    margin: initial;
    font-size: 2rem;
    color: var(--title-color);
}

.projects__container .swiper-button-prev {
    left: -1rem;
    top: 4.5rem;
}

.projects__container .swiper-button-next {
    right: -1rem;
    top: 4.5rem;
}

.projects__container .swiper-pagination-bullet {
    background-color: var(--text-color-light);
    opacity: 1;
}

.projects__container .swiper-pagination-bullet-active {
    background-color: var(--title-color);
}

/*=============== TESTIMONIAL ===============*/
.testimonial__container {
    position: relative;
}

.testimonial__card {
    padding: 2rem 1.5rem;
    background-color: var(--container-color);
    border-radius: 1.25rem;
    margin-bottom: 3rem;
    transition: background .4s;
}

.testimonial__description {
    font-style: italic;
    margin-bottom: 1.5rem;
}

.testimonial__name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: .25rem;
}

.testimonial__subtitle {
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

/*=============== CONTACT ===============*/
.contact__container {
    row-gap: 3.5rem;
}

.contact__title {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 2.5rem;
}

.contact__title i {
    font-size: 1.25rem;
    font-weight: initial;
}

.contact__info {
    display: grid;
    gap: 1.5rem;
}

.contact__card {
    background-color: var(--container-color);
    padding: 1rem;
    border-radius: .75rem;
    text-align: center;
    transition: background .4s;
}

.contact__card-icon {
    font-size: 2rem;
    color: var(--title-color);
    margin-bottom: .25rem;
}

.contact__card-title,
.contact__card-data {
    font-size: var(--small-font-size);
}

.contact__card-title {
    font-weight: var(--font-medium);
}

.contact__card-data {
    display: block;
    margin-bottom: .75rem;
}

.contact__button {
    color: var(--title-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .25rem;
    cursor: pointer;
}

.contact__button:hover i {
    transform: translateX(.25rem);
}

.contact__button i {
    font-size: 1rem;
    transition: transform .3s;
}

.contact__form-div {
    position: relative;
    margin-bottom: 2rem;
    height: 4rem;
}

.contact__form-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid var(--text-color-light);
    background: none;
    color: var(--text-color);
    outline: none;
    padding: 1.5rem;
    border-radius: .75rem;
    z-index: 1;
}

.contact__form-tag {
    position: absolute;
    top: -.75rem;
    left: 1.25rem;
    font-size: var(--smaller-font-size);
    padding: .25rem;
    background-color: var(--body-color);
    z-index: 10;
}

.contact__form-area {
    height: 10rem;
}

.contact__form-area textarea {
    resize: none;
}

.contact__message {
    font-size: var(--small-font-size);
    position: absolute;
    bottom: 2.8rem;
    left: 1.5rem;
}

.color-red {
    color: hsl(4, 71%, 50%);
}

.color-blue {
    color: hsl(207, 56%, 45%);
}

/*=============== FOOTER ===============*/
.footer__container {
    padding: 3rem 0 7rem;
    text-align: center;
}

.footer__title {
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 1rem;
}

.footer__list,
.footer__social {
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
    margin-bottom: 2rem;
}

.footer__social-link {
    font-size: 1.25rem;
    color: var(--title-color);
    transition: color .3s;
}

.footer__copy {
    display: block;
    margin-top: 4.5rem;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
    width: .6rem;
    border-radius: .5rem;
    background-color: hsl(207, 4%, 85%);
}

::-webkit-scrollbar-thumb {
    background-color: hsl(207, 4%, 75%);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(207, 4%, 65%);
}

/*=============== SCROLL UP ===============*/
.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -30%;
    background-color: hsla(207, 4%, 95%, .8);
    backdrop-filter: blur(24px);
    display: inline-flex;
    padding: .45rem;
    border-radius: .25rem;
    z-index: var(--z-tooltip);
    color: var(--title-color);
    font-size: 1.15rem;
    transition: .4s;
}

.scrollup:hover {
    transform: translateY(-.25rem);
}

/* Show Scroll Up*/
.show-scroll {
    bottom: 7.5rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }
  .nav__menu {
      padding-inline: 1rem;
  }
  .nav__list {
      gap: 1.5rem 1rem;
  }
  .home__blob {
      width: 200px;
      height: 200px;
  }
  .home__img {
      width: 170px;
  }
  .skills__box {
      column-gap: 1rem;
  }
  .qualification__grid {
      grid-template-columns: 1fr;
  }
  .services__container {
      grid-template-columns: 1fr;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
    .nav__menu {
        width: 380px;
    }
    .home__container,
    .skills__container,
    .qualification__container,
    .services__container,
    .contact__container {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
    .home__info {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
    }
}

/* For tablets and medium devices */
@media screen and (min-width: 768px) {
    .home__container,
    .skills__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
    .home__info {
        column-gap: 3rem;
    }
    .home__blob {
        width: 320px;
        height: 320px;
    }
    .home__img {
        width: 270px;
    }
    .qualification__container {
        grid-template-columns: repeat(2, 1fr);
    }
    .services__container {
        grid-template-columns: repeat(3, 1fr);
    }
    .projects__container {
        width: 600px;
    }
    .testimonial__container {
        width: 600px;
    }
}

/* For large devices */
@media screen and (min-width: 1024px) {
    .section {
        padding-block: 7rem 2rem;
    }
    .home__container {
        column-gap: 6rem;
    }
    .home__blob {
        width: 450px;
        height: 450px;
        border: 4px solid var(--title-color);
    }
    .home__img {
        width: 380px;
    }
    .home__shape-waves {
        width: 100px;
        left: -4rem;
    }
    .home__shape-circle {
        width: 250px;
        bottom: -5rem;
        right: -7rem;
    }
    .skills__container {
        column-gap: 10rem;
    }
    .services__container {
        grid-template-columns: repeat(3, 1fr);
    }
    .contact__container {
        grid-template-columns: 440px 1fr;
        column-gap: 8rem;
    }
    .footer__container {
        padding-block: 4rem;
    }
    .footer__list {
        column-gap: 3rem;
    }
    .scrollup {
        right: 3rem;
    }
    .show-scroll {
        bottom: 3rem;
    }
}
